@font-face {
  font-family: "vazir";
  src: url("../fonts/Vazir-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "vazirb";
  src: url("../fonts/Vazir-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "vazirbl";
  src: url("../fonts/Vazir-Black.woff2") format("woff2");
}

body {
  font-family: "vazir" !important;
}

h1,
h2,
h3,
.font-black {
  font-family: "vazirbl";
}

h4,
h5,
h6,
.font-bold {
  font-family: "vazirb";
}

nav .navbar-nav li a,
nav .navbar-nav li button {
  font-family: "vazirb" !important;
  color: #888;
  text-decoration: none;
  transition: all ease-in-out 0.5s;
}
nav .navbar-nav li a:hover,
nav .navbar-nav li button:hover {
  color: #f3b41d;
  border-bottom: 1px solid #f3b41d;
}

.flag-usa-txt {
  font-size: 6px;
}
.flag-usa {
  color: #888;
  transition: all ease-in-out 0.5s;
}
.flag-usa:hover {
  color: #f3b41d;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}

@media (min-width: 992px) {
}

.text-lg-justify {
  text-align: justify;
}

.carousel-item img {
  height: 550px; /* Set the desired height for the carousel images */
  object-fit: cover; /* Maintain aspect ratio and cover the entire area */
}

.carousel-item {
  position: relative;
}

.carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black with 0.7 opacity */
  z-index: 1; /* Set a higher z-index to ensure it's above the image */
}

.carousel-caption {
  position: relative;
  z-index: 2; /* Set a higher z-index than the overlay to ensure it's above the overlay */
}

.text-warning-decoration {
  color: black; /* Set text color to black */
  border-color: #ffc107; /* Set border color to warning color */
}

/* Style for circular icon container */
.icon-container {
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  border-radius: 50%; /* Makes it a circle */
  border: 2px solid; /* Border color and width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-border-warning {
  border-color: #f3b41d;
}

/* Additional styles for icon */
.icon {
  font-size: 24px; /* Adjust icon size as needed */
  color: #333; /* Adjust icon color as needed */
}

.fade {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}
.loaded {
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}

.footer-col {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-col:last-child {
  border-left: none;
}

.text-warning {
  text-decoration: none;
}

@media (max-width: 767px) {
  .footer-col {
    border-left: 0;
  }
}

.icon-text-container {
  display: flex;
  align-items: center; /* قرار دادن موارد در مرکز عمودی */
  justify-content: center; /* قرار دادن موارد در مرکز افقی */
}

.text-justify {
  text-align: justify;
}

.menu-title strong {
  color: #888;
}

.menu-title em {
  color: #f3b41d;
}

.go-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 5;
  width: 50px;
  height: 50px;
  background-color: #f3b41d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 8px 1px rgba(136, 136, 136, 0.69);
  transition: all 0.5s ease-in-out;
}

.go-top:hover {
  background-color: #dba21d;
}

.go-top i {
  color: purple;
}

.go-top:hover.go-top i {
  color: #333;
}

.h_iframe-aparat_embed_frame {
  position: relative;
}

.h_iframe-aparat_embed_frame .ratio {
  display: block;
  width: 100%;
  height: auto;
}

.h_iframe-aparat_embed_frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
